/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    color: #252525;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header */
/* Logo */
.logo {
    width: 100%;
    height: auto;
    padding: 10px 20px 15px 20px;
    max-width: 390px;
    margin-top: 20px;
}

/* Tagline */
.tagline {
    padding: 0 20px 20px 20px;
}

/* Main content */
/* Timer, moves, audio & info */
/* flex allows all to be on same line, add gap */
.timer-moves-audio-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* flex allows all to be on same line, add gap */
.timer-moves {
    display: flex;
    align-items: center;
    gap: 10px;
}

#timer,
#moves {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}

.audio-info {
    display: flex;
    gap: 10px;
}

/* Audio tutorial, code adapted from https://dev.to/ctrlcoding/how-to-create-a-simple-audio-player-in-html-javascript-and-css-4l2e */
#volume-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

/* Info Modal Styles */
#info-modal {
    /* Icon */
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
}

.modal {
    display: none;
    /* Default is hidden */
    position: fixed;
    z-index: 1;
    /* Sit on top */
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-logo {
    width: 200px;
    padding: 30px 0px 10px 0;
    height: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    /* from top and centered */
    padding: 20px;
    border: 1px solid #252525;
    width: 80%;
}

/* Info modal close button */
.close {
    float: right;
    color: #8f8d8d;
    font-size: 30px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #3f3f42;
    text-decoration: none;
    cursor: pointer;
}

.how-to-play,
h4 {
    padding: 10px;
}

.how-to-play,
ol {
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
}

ol li {
    padding-bottom: 10px;
}

/* Puzzle */
/* Grid Styles */
/* CSS Cells https://developer.mozilla.org/en-US/docs/Glossary/Grid_Cell */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Makes 3 equal columns in backgroound url */
    grid-gap: 2px;
    /* Gaps in image to form tiles */
    border: 1px solid #3f3f42;
    margin-bottom: 15px;
}

.tile {
    width: 100%;
    /*This makes tile occupy full with in grid cell */
    height: 0;
    cursor: pointer;
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
    background: url(../images/pink-slidle.webp);
    background-size: 345px 345px;
    width: 114px;
    height: 114px;
    font-size: 0px;
}

.tile1 {
    background-position: left top;
}

.tile2 {
    background-position: center top;
}

.tile3 {
    background-position: right top;
}

.tile4 {
    background-position: left center;
}

.tile5 {
    background-position: center center;
}

.tile6 {
    background-position: right center;
}

.tile7 {
    background-position: left bottom;
}

.tile8 {
    background-position: center bottom;
}

.tile9 {
    background: none;
    background-color: #ffffff;
    cursor: default;
    /* Blank tile 9 */
}

/* Buttons */
#button-container {
    padding: 5px;
}

.playButton-container {
    margin-bottom: 10px;
}

.hintButton-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.playButton,
.hintButton,
.switchButton {
    background-color: #252525;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    /* Vertically center text */
    transition: all 200ms ease;
    text-decoration: none;
    width: 140px;
    /* Fixed width */
    height: 40px;
    /* Fixed height */
    text-align: center;
}

.playButton:hover,
.hintButton:hover,
.switchButton:hover {
    background-color: #F3A0BC;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    text-decoration: none;
}

#hintImage {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #252525;
}

/* Win modal */
#winModal {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #252525;
}

.win-modal-content {
    background-color: #fefefe;
    margin: 32% auto;
    /* from top and centered */
    padding: 20px;
    border: 1px solid #252525;
    border-radius: 10px;
    width: 75%;
}

#winModal .playButton-container {
    padding-top: 10px;
}

#winModal .playButton:hover {
    background-color: #A8CD6E;
}

#confetti {
    width: 5px;
}

.theme {
    padding-top: 20px;
}

/* Footer */
/* Social networks */
#social-networks {
    display: flex;
    font-size: 36px;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 10px 20px 10px 20px;
}

/* Created by & contact */
.created-by {
    font-size: 12px;
    padding: 0px 20px 10px 20px;
}

/* Disable colour on a tag when visited (for testing) */
a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

/* Media Queries */
/* Media Query: Mobile Device*/
@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
    }
}

/* Media Query: Tablet Device */
@media only screen and (min-width: 768px) {
    body {
        min-height: 0vh;
        margin: 5em;
    }

    .modal-content {
        margin: 20% auto;
    }

    .win-modal-content {
        width: 50%;
        margin: 20% auto;
    }

    #hintImage {
        top: 42%;
    }
}

/* Media query: Large screens (992px and up) */
@media screen and (min-width: 992px) {
    body {
        min-height: 100vh;
        margin: 0%;
    }

    .modal {
        width: 60%;
        height: 100%;
        right: 20%;
    }

    .modal-content {
        margin: 13% auto;
    }

    .win-modal-content {
        width: 30%;
        margin: 20% auto;
    }

    #hintImage {
        top: 40%;
    }
}