/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    color: #252525;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* justify-content: center;
    min-height: 100vh;
    min-width: 100vh; */
}

main {
    flex: 1;
}

/* Header */
/* Logo */
.logo {
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;
    max-width: 380px;
}

/* Tagline */
h4 {
    padding-bottom: 20px;
}

/* Main content */
/* Puzzle */
#puzzle-container {}

.puzzle1 {
    border: #252525 solid 1px;
}




/* Footer */

/* Media queries */